In [1]:
import sqlite3

In [2]:
#connect to a sqlite3 database
connection = sqlite3.connect('example.db')

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute(''' create table if not exists employees
               (id integer primary key,
               name text not null,
               age integer,
               department text)
               ''')

connection.commit()

In [5]:
# Insert data into database

cursor.execute('''insert into employees
               (name,age,department)
               values('bob',45,'mechanical')''')
connection.commit()

In [6]:
cursor.execute('''insert into employees
               (name,age,department)
               values('krish',22,'ai')''')
connection.commit()

In [7]:
cursor.execute('''insert into employees
               (name,age,department)
               values('ronit',22,'computer')
               ''')
connection.commit()

In [ ]:
#Quert the data from the table
cursor.execute('select * from employees')
row=cursor.fetchall()

In [ ]:
# print the query data
for r in row:
    print(r)

(1, 'bob', 45, 'mechanical')
(2, 'bob', 45, 'mechanical')
(3, 'krish', 22, 'ai')
(4, 'krish', 22, 'ai')
(5, 'bob', 45, 'mechanical')
(6, 'krish', 22, 'ai')
(7, 'bob', 45, 'mechanical')
(8, 'krish', 22, 'ai')
(9, 'ronit', 22, 'computer')
(10, 'bob', 45, 'mechanical')
(11, 'krish', 22, 'ai')
(12, 'ronit', 22, 'computer')

In [15]:
#update the data into the table

cursor.execute('''
               UPDATE employees
               set age=44
               where name = "krish"
               ''')

In [16]:
cursor.execute('''update employees
               set department="ai"
               where name="ronit"
               ''')

In [18]:
cursor.execute('select * from employees')
row=cursor.fetchall()

for r in row:
    print(r)

(1, 'bob', 45, 'mechanical')
(2, 'bob', 45, 'mechanical')
(3, 'krish', 44, 'ai')
(4, 'krish', 44, 'ai')
(5, 'bob', 45, 'mechanical')
(6, 'krish', 44, 'ai')
(7, 'bob', 45, 'mechanical')
(8, 'krish', 44, 'ai')
(9, 'ronit', 22, 'ai')
(10, 'bob', 45, 'mechanical')
(11, 'krish', 44, 'ai')
(12, 'ronit', 22, 'ai')

In [19]:
#delete the data from the table
cursor.execute('''
delete from employees
               where name="bob"
               ''')
connection.commit()