# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
#A1
tl =tuple(range(1,11))
print(tl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:

#A2
print(f"The 1st element of tuple is {tl[0]}")
print(f"The 1st element of tuple is {tl[len(tl)//2]}")
print(f"The 1st element of tuple is {tl[len(tl)-1]}")

The 1st element of tuple is 1
The 1st element of tuple is 6
The 1st element of tuple is 10

In [3]:
#A3
print(f"The first 3 elements of tuple is {tl[:3]}")
print(f"The last 3 elements of tuple is {tl[-3:]}")
print(f"The element from index 2 to 5 is {tl[2:6]}")

The first 3 elements of tuple is (1, 2, 3)
The last 3 elements of tuple is (8, 9, 10)
The element from index 2 to 5 is (3, 4, 5, 6)

In [4]:
#A4
nested_tuple = ((1,2,3),
                (4,5,6),
                (7,8,9))
print("The 3 x 3 tuple is: ")
for row in nested_tuple:
    print(row)
print(f"The element at 2nd row and 3rd column is {nested_tuple[1][2]}")

The 3 x 3 tuple is:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
The element at 2nd row and 3rd column is 6

In [5]:
#A5
a = (1,2,3)
b = (4,5,6)
print(f"The concatination of Tuple is {a+b}")

The concatination of Tuple is (1, 2, 3, 4, 5, 6)

In [6]:
#A6!
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 4: {tpl.index(4)}")

Occurrences of 4: 3
Index of first occurrence of 4: 4

In [7]:
#A7!
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl
print(a, b, c, d, e)

1 2 3 4 5

In [8]:
#A8
ls = list(range(1,6))
tpl = tuple(ls)
print(tpl)

(1, 2, 3, 4, 5)

In [9]:
#A9
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [10]:
#A10
tpl = tuple(range(1,6))
ls = list(tpl)
ls.append(6)
tl = tuple(ls)
print(tl)

(1, 2, 3, 4, 5, 6)

In [11]:
#A11
string = "hello"
tpl = tuple(string)
print(tpl)
joined_string = ''.join(tpl)
print(joined_string)

('h', 'e', 'l', 'l', 'o')
hello

In [12]:
#A12
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [13]:
#A13
nested_tuple = ((1,2,3),
                (4,5,6),
                (7,8,9))

for i in nested_tuple:
    for element in i:
        print(element)

1
2
3
4
5
6
7
8
9

In [14]:
#A14
tpl = (1,22,22,55,44,6)
st = set(tpl)
print(f"The resulting set is {st}")

The resulting set is {1, 6, 44, 22, 55}

In [15]:
#A15
def MaxMinSum(tupple):
    sort = sorted(tupple)
    print(f"The minimum value in Tupple is {sort[0]}")
    print(f"The Maximum value in Tupple is {sort[len(tupple)-1]}")

    sum = 0
    for i in tupple:
        sum += i

    print(f"The sum of the element in tupple is {sum}")

tuppllee = (14,44,55,66,77,11,55,46)
MaxMinSum(tuppllee)

The minimum value in Tupple is 11
The Maximum value in Tupple is 77
The sum of the element in tupple is 368

In [16]:
#A15
def MaxMinSum(tupple):
    sort = sorted(tupple)
    print(f"The minimum value in Tupple is {sort[0]}")
    print(f"The Maximum value in Tupple is {sort[len(tupple)-1]}")

    print(f"The sum of elements of tupple is {sum(tupple)}")

tuppllee = (14,44,55,66,77,11,55,46)
MaxMinSum(tuppllee)

The minimum value in Tupple is 11
The Maximum value in Tupple is 77
The sum of elements of tupple is 368