In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("lexiedegrandchamp/ask-a-manager-2023-salary-survey")

print("Path to dataset files:", path)

/home/ronit/anaconda3/envs/mlenv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: /home/ronit/.cache/kagglehub/datasets/lexiedegrandchamp/ask-a-manager-2023-salary-survey/versions/2

In [2]:
import os 
import pandas as pd

In [3]:
os.listdir(path)

['datadict.xlsx', 'AAMSalary_2023', 'currencytable.xlsx']

In [4]:
data_dir = os.path.join(path, "AAMSalary_2023")
os.listdir(data_dir)

['tabcleaned.csv']

In [5]:
data_csv = os.path.join(data_dir, "tabcleaned.csv")

In [6]:
df = pd.read_csv(
    data_csv,
    encoding="utf-16",
    sep="\t",
    engine="python",
    on_bad_lines="skip"
)

In [7]:
df.head()

,City,Continent/Region,Country,Currency,Currency - other,Currency Cleansed,Data Flag,Education Cleansed,Employer Type,Employer Type Final,...,IdentifiesHispanic,IdentifiesMan,IdentifiesMENA,IdentifiesNAIndig,IdentifiesNB,IdentifiesOtherOrDeclinesToState,IdentifiesOtherRace,IdentifiesWhite,Median Salary nonconv,Total Comp
0,Near Baltimore,North America,United States,USD,NaN,USD,No,Masters' degree,Other,Other,...,0,1,0,0,0,0,0,1,0,$0
1,-,North America,United States,USD,NaN,USD,No,Professional Degree,Corporation,Corporation,...,0,1,0,0,0,0,0,1,180000,"$180,000"
2,Chicago,North America,United States,USD,NaN,USD,No,4-year college,School,School,...,0,1,0,0,0,0,0,1,106500,"$106,500"
3,Dourados,South America,Brazil,BRL,BRL,BRL,No,Masters' degree,School,School,...,1,1,0,0,0,0,0,0,160,"$31,600"
4,Arlington,North America,United States,USD,NaN,USD,No,Professional Degree,Non Profit,Non Profit,...,0,1,0,0,0,0,0,1,102000,"$102,035"

In [8]:
df.shape

(16611, 56)

In [9]:
sum(1 for _ in open(data_csv, encoding="utf-16"))

16633

In [10]:
df.columns
df.head()

,City,Continent/Region,Country,Currency,Currency - other,Currency Cleansed,Data Flag,Education Cleansed,Employer Type,Employer Type Final,...,IdentifiesHispanic,IdentifiesMan,IdentifiesMENA,IdentifiesNAIndig,IdentifiesNB,IdentifiesOtherOrDeclinesToState,IdentifiesOtherRace,IdentifiesWhite,Median Salary nonconv,Total Comp
0,Near Baltimore,North America,United States,USD,NaN,USD,No,Masters' degree,Other,Other,...,0,1,0,0,0,0,0,1,0,$0
1,-,North America,United States,USD,NaN,USD,No,Professional Degree,Corporation,Corporation,...,0,1,0,0,0,0,0,1,180000,"$180,000"
2,Chicago,North America,United States,USD,NaN,USD,No,4-year college,School,School,...,0,1,0,0,0,0,0,1,106500,"$106,500"
3,Dourados,South America,Brazil,BRL,BRL,BRL,No,Masters' degree,School,School,...,1,1,0,0,0,0,0,0,160,"$31,600"
4,Arlington,North America,United States,USD,NaN,USD,No,Professional Degree,Non Profit,Non Profit,...,0,1,0,0,0,0,0,1,102000,"$102,035"

In [11]:
bad_rows = []

def bad_line_handler(line):
    bad_rows.append(line)
    return None

df1 = pd.read_csv(
    data_csv,
    encoding="utf-16",
    sep="\t",
    engine="python",
    on_bad_lines=bad_line_handler
)

In [13]:
df1.shape

(16611, 56)

In [14]:
df.shape

(16611, 56)

In [ ]:
df.isnull()

,City,Continent/Region,Country,Currency,Currency - other,Currency Cleansed,Data Flag,Education Cleansed,Employer Type,Employer Type Final,...,IdentifiesHispanic,IdentifiesMan,IdentifiesMENA,IdentifiesNAIndig,IdentifiesNB,IdentifiesOtherOrDeclinesToState,IdentifiesOtherRace,IdentifiesWhite,Median Salary nonconv,Total Comp
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16606,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16607,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16608,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16609,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16610,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
df.columns

Index(['City', 'Continent/Region', 'Country', 'Currency', 'Currency - other',
       'Currency Cleansed', 'Data Flag', 'Education Cleansed', 'Employer Type',
       'Employer Type Final', 'Functional area of job', 'Gender',
       'Gender (group)', 'GeoCombined', 'Grouped Country',
       'Highest level of education completed', 'How old are you?',
       'IdentifiesWoman ', 'Income - additional context', 'Industry',
       'Industry Cleansed', 'Job Function Cleansed', 'Job title',
       'Job title - additional context', 'Management',
       'Nonprofit Flag Industry', 'Race', 'Race (group)', 'Remote or on-site?',
       'School Flag', 'Seniority', 'State/Province', 'State/Province (group)',
       'Timestamp', 'US Metropolitan Area', 'US or Worldwide',
       'Years of experience in field', 'Years of experience, overall',
       'Additional monetary compensation', 'Addl Comp (Conv USD)',
       'Addl Monetary Comp Cleansed', 'Annual Salary (Conv USD)',
       'Annual salary (gross)', 'Annual Salary Cleansed', 'IdentifiesAsian',
       'IdentifiesBlack', 'IdentifiesHispanic', 'IdentifiesMan',
       'IdentifiesMENA', 'IdentifiesNAIndig', 'IdentifiesNB',
       'IdentifiesOtherOrDeclinesToState', 'IdentifiesOtherRace',
       'IdentifiesWhite', 'Median Salary nonconv', 'Total Comp'],
      dtype='str')

In [19]:
os.listdir(path)

['datadict.xlsx', 'AAMSalary_2023', 'currencytable.xlsx']

In [22]:
xl1 = os.path.join(path, "datadict.xlsx")

In [25]:
dfxl = pd.read_excel(
    data_csv,
    encoding="utf-16",
    sep="\t",
    engine="python",
    on_bad_lines="skip"
)

TypeError: read_excel() got an unexpected keyword argument 'encoding'