In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("lexiedegrandchamp/ask-a-manager-2023-salary-survey")

print("Path to dataset files:", path)

/home/ronit/anaconda3/envs/mlenv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: /home/ronit/.cache/kagglehub/datasets/lexiedegrandchamp/ask-a-manager-2023-salary-survey/versions/2

In [2]:
import os 
import pandas as pd

In [3]:
os.listdir(path)

['datadict.xlsx', 'AAMSalary_2023', 'currencytable.xlsx']

In [4]:
data_dir = os.path.join(path, "AAMSalary_2023")
os.listdir(data_dir)

['tabcleaned.csv']

In [5]:
data_csv = os.path.join(data_dir, "tabcleaned.csv")

In [6]:
df = pd.read_csv(
    data_csv,
    encoding="utf-16",
    sep="\t",
    engine="python",
    on_bad_lines="skip"
)

In [7]:
df.head()

,City,Continent/Region,Country,Currency,Currency - other,Currency Cleansed,Data Flag,Education Cleansed,Employer Type,Employer Type Final,...,IdentifiesHispanic,IdentifiesMan,IdentifiesMENA,IdentifiesNAIndig,IdentifiesNB,IdentifiesOtherOrDeclinesToState,IdentifiesOtherRace,IdentifiesWhite,Median Salary nonconv,Total Comp
0,Near Baltimore,North America,United States,USD,NaN,USD,No,Masters' degree,Other,Other,...,0,1,0,0,0,0,0,1,0,$0
1,-,North America,United States,USD,NaN,USD,No,Professional Degree,Corporation,Corporation,...,0,1,0,0,0,0,0,1,180000,"$180,000"
2,Chicago,North America,United States,USD,NaN,USD,No,4-year college,School,School,...,0,1,0,0,0,0,0,1,106500,"$106,500"
3,Dourados,South America,Brazil,BRL,BRL,BRL,No,Masters' degree,School,School,...,1,1,0,0,0,0,0,0,160,"$31,600"
4,Arlington,North America,United States,USD,NaN,USD,No,Professional Degree,Non Profit,Non Profit,...,0,1,0,0,0,0,0,1,102000,"$102,035"

In [8]:
df.shape

(16611, 56)

In [9]:
sum(1 for _ in open(data_csv, encoding="utf-16"))

16633

In [10]:
df.columns
df.head()

,City,Continent/Region,Country,Currency,Currency - other,Currency Cleansed,Data Flag,Education Cleansed,Employer Type,Employer Type Final,...,IdentifiesHispanic,IdentifiesMan,IdentifiesMENA,IdentifiesNAIndig,IdentifiesNB,IdentifiesOtherOrDeclinesToState,IdentifiesOtherRace,IdentifiesWhite,Median Salary nonconv,Total Comp
0,Near Baltimore,North America,United States,USD,NaN,USD,No,Masters' degree,Other,Other,...,0,1,0,0,0,0,0,1,0,$0
1,-,North America,United States,USD,NaN,USD,No,Professional Degree,Corporation,Corporation,...,0,1,0,0,0,0,0,1,180000,"$180,000"
2,Chicago,North America,United States,USD,NaN,USD,No,4-year college,School,School,...,0,1,0,0,0,0,0,1,106500,"$106,500"
3,Dourados,South America,Brazil,BRL,BRL,BRL,No,Masters' degree,School,School,...,1,1,0,0,0,0,0,0,160,"$31,600"
4,Arlington,North America,United States,USD,NaN,USD,No,Professional Degree,Non Profit,Non Profit,...,0,1,0,0,0,0,0,1,102000,"$102,035"

In [11]:
bad_rows = []

def bad_line_handler(line):
    bad_rows.append(line)
    return None

df1 = pd.read_csv(
    data_csv,
    encoding="utf-16",
    sep="\t",
    engine="python",
    on_bad_lines=bad_line_handler
)

In [12]:
df1.shape

(16611, 56)

In [13]:
df.shape

(16611, 56)

In [14]:
df.isnull()

,City,Continent/Region,Country,Currency,Currency - other,Currency Cleansed,Data Flag,Education Cleansed,Employer Type,Employer Type Final,...,IdentifiesHispanic,IdentifiesMan,IdentifiesMENA,IdentifiesNAIndig,IdentifiesNB,IdentifiesOtherOrDeclinesToState,IdentifiesOtherRace,IdentifiesWhite,Median Salary nonconv,Total Comp
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16606,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16607,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16608,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16609,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16610,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
df.columns

Index(['City', 'Continent/Region', 'Country', 'Currency', 'Currency - other',
       'Currency Cleansed', 'Data Flag', 'Education Cleansed', 'Employer Type',
       'Employer Type Final', 'Functional area of job', 'Gender',
       'Gender (group)', 'GeoCombined', 'Grouped Country',
       'Highest level of education completed', 'How old are you?',
       'IdentifiesWoman ', 'Income - additional context', 'Industry',
       'Industry Cleansed', 'Job Function Cleansed', 'Job title',
       'Job title - additional context', 'Management',
       'Nonprofit Flag Industry', 'Race', 'Race (group)', 'Remote or on-site?',
       'School Flag', 'Seniority', 'State/Province', 'State/Province (group)',
       'Timestamp', 'US Metropolitan Area', 'US or Worldwide',
       'Years of experience in field', 'Years of experience, overall',
       'Additional monetary compensation', 'Addl Comp (Conv USD)',
       'Addl Monetary Comp Cleansed', 'Annual Salary (Conv USD)',
       'Annual salary (gross)', 'Annual Salary Cleansed', 'IdentifiesAsian',
       'IdentifiesBlack', 'IdentifiesHispanic', 'IdentifiesMan',
       'IdentifiesMENA', 'IdentifiesNAIndig', 'IdentifiesNB',
       'IdentifiesOtherOrDeclinesToState', 'IdentifiesOtherRace',
       'IdentifiesWhite', 'Median Salary nonconv', 'Total Comp'],
      dtype='str')

In [16]:
os.listdir(path)

['datadict.xlsx', 'AAMSalary_2023', 'currencytable.xlsx']

In [17]:
xl1 = os.path.join(path, "datadict.xlsx")

In [18]:
df.head()

,City,Continent/Region,Country,Currency,Currency - other,Currency Cleansed,Data Flag,Education Cleansed,Employer Type,Employer Type Final,...,IdentifiesHispanic,IdentifiesMan,IdentifiesMENA,IdentifiesNAIndig,IdentifiesNB,IdentifiesOtherOrDeclinesToState,IdentifiesOtherRace,IdentifiesWhite,Median Salary nonconv,Total Comp
0,Near Baltimore,North America,United States,USD,NaN,USD,No,Masters' degree,Other,Other,...,0,1,0,0,0,0,0,1,0,$0
1,-,North America,United States,USD,NaN,USD,No,Professional Degree,Corporation,Corporation,...,0,1,0,0,0,0,0,1,180000,"$180,000"
2,Chicago,North America,United States,USD,NaN,USD,No,4-year college,School,School,...,0,1,0,0,0,0,0,1,106500,"$106,500"
3,Dourados,South America,Brazil,BRL,BRL,BRL,No,Masters' degree,School,School,...,1,1,0,0,0,0,0,0,160,"$31,600"
4,Arlington,North America,United States,USD,NaN,USD,No,Professional Degree,Non Profit,Non Profit,...,0,1,0,0,0,0,0,1,102000,"$102,035"

In [19]:
#displaying all the columns
pd.set_option("display.max_column", None)
df.head()

,City,Continent/Region,Country,Currency,Currency - other,Currency Cleansed,Data Flag,Education Cleansed,Employer Type,Employer Type Final,Functional area of job,Gender,Gender (group),GeoCombined,Grouped Country,Highest level of education completed,How old are you?,IdentifiesWoman,Income - additional context,Industry,Industry Cleansed,Job Function Cleansed,Job title,Job title - additional context,Management,Nonprofit Flag Industry,Race,Race (group),Remote or on-site?,School Flag,Seniority,State/Province,State/Province (group),Timestamp,US Metropolitan Area,US or Worldwide,Years of experience in field,"Years of experience, overall",Additional monetary compensation,Addl Comp (Conv USD),Addl Monetary Comp Cleansed,Annual Salary (Conv USD),Annual salary (gross),Annual Salary Cleansed,IdentifiesAsian,IdentifiesBlack,IdentifiesHispanic,IdentifiesMan,IdentifiesMENA,IdentifiesNAIndig,IdentifiesNB,IdentifiesOtherOrDeclinesToState,IdentifiesOtherRace,IdentifiesWhite,Median Salary nonconv,Total Comp
0,Near Baltimore,North America,United States,USD,NaN,USD,No,Masters' degree,Other,Other,N/a,Woman,Woman,United States-Maryland-Near Baltimore,United States,Master's degree,35-44,1,NaN,Unpaid labor,Other,Other,Sahm,N/a,Other,NaN,White,White,On-site,NaN,Mid,Maryland,Maryland,4/13/23 5:43,Baltimore,United States,8-10 years,11-20 years,0.0,0.0,0.0,0.0,0,$0,0,0,0,1,0,0,0,0,0,1,0,$0
1,-,North America,United States,USD,NaN,USD,No,Professional Degree,Corporation,Corporation,Government & Public Administration,Woman,Woman,NaN,United States,"Professional degree (MD, JD, etc.)",35-44,1,NaN,Law,Law,Government & Public Administration,lawyer,NaN,Other,NaN,White,White,Hybrid,NaN,Mid,NaN,NaN,4/11/23 14:25,Non-US,United States,8-10 years,11-20 years,NaN,0.0,0.0,180000.0,180000,"$180,000",0,0,0,1,0,0,0,0,0,1,180000,"$180,000"
2,Chicago,North America,United States,USD,NaN,USD,No,4-year college,School,School,Computing or Tech,Woman,Woman,United States-Illinois-Chicago,United States,College degree,35-44,1,NaN,Education (Higher Education),Education (Higher Education),"Computing, Tech, and Analytics",Senior Systems Analyst,(business analyst),Other,NaN,White,White,Hybrid,NaN,Mid,Illinois,Illinois,4/17/23 11:44,Chicago,United States,8-10 years,11-20 years,0.0,0.0,0.0,106500.0,106500,"$106,500",0,0,0,1,0,0,0,0,0,1,106500,"$106,500"
3,Dourados,South America,Brazil,BRL,BRL,BRL,No,Masters' degree,School,School,Government & Public Administration,Woman,Woman,NaN,Brazil,Master's degree,35-44,1,NaN,Education (Higher Education),Education (Higher Education),Government & Public Administration,Educational Administrative Technician,"I""m a public servant",Other,NaN,"Hispanic, Latino, or Spanish origin","Hispanic, Latino, or Spanish Origin",On-site,NaN,Senior/Experienced,NaN,NaN,4/11/23 18:28,Non-US,Non-US,11-20 years,11-20 years,0.0,0.0,0.0,31.6,160,"$31,600",0,0,1,1,0,0,0,0,0,0,160,"$31,600"
4,Arlington,North America,United States,USD,NaN,USD,No,Professional Degree,Non Profit,Non Profit,Nonprofits,Woman,Woman,United States-District of Columbia-Arlington,United States,"Professional degree (MD, JD, etc.)",35-44,1,NaN,Nonprofits,Nonprofit,Nonprofits Other,Grants Manager,NaN,Management,profit,White,White,Hybrid,NaN,Senior/Experienced,District of Columbia,District of Columbia,4/14/23 16:41,"Washington, DC",United States,11-20 years,21-30 years,35.0,35.0,35.0,102000.0,102000,"$102,000",0,0,0,1,0,0,0,0,0,1,102000,"$102,035"

In [20]:
df.isnull().sum()

City                                       86
Continent/Region                            0
Country                                     0
Currency                                    0
Currency - other                        16526
Currency Cleansed                           0
Data Flag                                   0
Education Cleansed                          0
Employer Type                               0
Employer Type Final                         0
Functional area of job                    106
Gender                                     75
Gender (group)                              0
GeoCombined                              1035
Grouped Country                             0
Highest level of education completed       47
How old are you?                            0
IdentifiesWoman                             0
Income - additional context             14969
Industry                                   46
Industry Cleansed                           0
Job Function Cleansed                       0
Job title                                   0
Job title - additional context          12826
Management                                  0
Nonprofit Flag Industry                 15112
Race                                       61
Race (group)                                0
Remote or on-site?                         63
School Flag                             15285
Seniority                                   0
State/Province                           1017
State/Province (group)                   1017
Timestamp                                   0
US Metropolitan Area                        0
US or Worldwide                             0
Years of experience in field                0
Years of experience, overall                0
Additional monetary compensation         3871
Addl Comp (Conv USD)                        0
Addl Monetary Comp Cleansed                 0
Annual Salary (Conv USD)                    0
Annual salary (gross)                       0
Annual Salary Cleansed                      0
IdentifiesAsian                             0
IdentifiesBlack                             0
IdentifiesHispanic                          0
IdentifiesMan                               0
IdentifiesMENA                              0
IdentifiesNAIndig                           0
IdentifiesNB                                0
IdentifiesOtherOrDeclinesToState            0
IdentifiesOtherRace                         0
IdentifiesWhite                             0
Median Salary nonconv                       0
Total Comp                                  0
dtype: int64

In [21]:
df.shape

(16611, 56)

In [22]:
df["Currency - other"].value_counts(dropna=False)

Currency - other
NaN                                                                                                               16526
NOK                                                                                                                   9
SGD                                                                                                                   8
NZD                                                                                                                   7
PLN                                                                                                                   4
CZK                                                                                                                   4
BRL                                                                                                                   3
MXN                                                                                                                   3
ILS                                                                                                                   2
HUF                                                                                                                   2
USD                                                                                                                   2
AUD                                                                                                                   2
0                                                                                                                     2
INR                                                                                                                   2
DKK                                                                                                                   2
N/a                                                                                                                   2
Danish Kroner                                                                                                         2
Trinidad and Tobago dollars                                                                                           1
BGR                                                                                                                   1
KRW                                                                                                                   1
NIS                                                                                                                   1
Bulgarian lev                                                                                                         1
TRY                                                                                                                   1
BGN                                                                                                                   1
My employer pays for a round trip flight home to the US each year, as well as providing a stipend for housing.        1
Mexican Pesos                                                                                                         1
BMD                                                                                                                   1
Additional comp is in USD                                                                                             1
Pln                                                                                                                   1
Icelandic krona (ISK)                                                                                                 1
end-of-year bonus is a double paycheck                                                                                1
Just noting that AUD and NZD are very different :) - I'm paid in AUD                                                  1
Polish złoty (PLN)                                                                                                    1
variable annual bonus                                                                                                 1
Sgd                                                                                                                   1
Pension and 401k matching                                                                                             1
Indian Rupee                                                                                                          1
5200 education benefit                                                                                                1
Female                                                                                                                1
SEK                                                                                                                   1
Dkk                                                                                                                   1
Chinese Renminbi                                                                                                      1
HKD                                                                                                                   1
Quarterly bonuses                                                                                                     1
Stock options and other compensation                                                                                  1
Tuition Reimbursement                                                                                                 1
Name: count, dtype: int64

In [23]:
df["Currency - other"].unique()

<StringArray>
[                                                                                                             nan,
                                                                                                            'BRL',
                                                                                                            'ILS',
                                                                                                            'SGD',
                                                                                    'Trinidad and Tobago dollars',
                                                                                                            'BGR',
                                                                                                            'KRW',
                                                                                                            'PLN',
                                                                                                            'MXN',
                                                                                                            'NIS',
                                                                                                  'Bulgarian lev',
                                                                                                            'TRY',
                                                                                                            'HUF',
                                                                                                            'BGN',
 'My employer pays for a round trip flight home to the US each year, as well as providing a stipend for housing.',
                                                                                                  'Mexican Pesos',
                                                                                                            'NZD',
                                                                                                            'BMD',
                                                                                      'Additional comp is in USD',
                                                                                                            'CZK',
                                                                                                            'USD',
                                                                                                            'Pln',
                                                                                          'Icelandic krona (ISK)',
                                                                                                            'AUD',
                                                                         'end-of-year bonus is a double paycheck',
                                           'Just noting that AUD and NZD are very different :) - I'm paid in AUD',
                                                                                                            'NOK',
                                                                                             'Polish złoty (PLN)',
                                                                                          'variable annual bonus',
                                                                                                              '0',
                                                                                                            'INR',
                                                                                                            'DKK',
                                                                                                            'Sgd',
                                                                                      'Pension and 401k matching',
                                                                                                   'Indian Rupee',
                                                                                         '5200 education benefit',
                                                                                                         'Female',
                                                                                                            'SEK',
                                                                                                            'N/a',
                                                                                                            'Dkk',
                                                                                               'Chinese Renminbi',
                                                                                                            'HKD',
                                                                                              'Quarterly bonuses',
                                                                                                  'Danish Kroner',
                                                                           'Stock options and other compensation',
                                                                                          'Tuition Reimbursement']
Length: 46, dtype: str

In [24]:
df["Currency - other"].nunique()

45

In [25]:
df.isnull().any(axis=1)

0        True
1        True
2        True
3        True
4        True
         ...
16606    True
16607    True
16608    True
16609    True
16610    True
Length: 16611, dtype: bool

In [26]:

#df.drop('Currency - other', axis=1, inplace=True)
#df.drop('Income - additional context', axis=1, inplace=True)
#df.drop('Job title - additional context', axis=1, inplace=True)

In [27]:
#Easy method 
df.drop(
    columns=["Currency - other","Income - additional context","Job title - additional context"],
    inplace=True
)

In [31]:
df.head(10)

,City,Continent/Region,Country,Currency,Currency Cleansed,Data Flag,Education Cleansed,Employer Type,Employer Type Final,Functional area of job,Gender,Gender (group),GeoCombined,Grouped Country,Highest level of education completed,How old are you?,IdentifiesWoman,Industry,Industry Cleansed,Job Function Cleansed,Job title,Management,Nonprofit Flag Industry,Race,Race (group),Remote or on-site?,School Flag,Seniority,State/Province,State/Province (group),Timestamp,US Metropolitan Area,US or Worldwide,Years of experience in field,"Years of experience, overall",Additional monetary compensation,Addl Comp (Conv USD),Addl Monetary Comp Cleansed,Annual Salary (Conv USD),Annual salary (gross),Annual Salary Cleansed,IdentifiesAsian,IdentifiesBlack,IdentifiesHispanic,IdentifiesMan,IdentifiesMENA,IdentifiesNAIndig,IdentifiesNB,IdentifiesOtherOrDeclinesToState,IdentifiesOtherRace,IdentifiesWhite,Median Salary nonconv,Total Comp
0,Near Baltimore,North America,United States,USD,USD,No,Masters' degree,Other,Other,N/a,Woman,Woman,United States-Maryland-Near Baltimore,United States,Master's degree,35-44,1,Unpaid labor,Other,Other,Sahm,Other,NaN,White,White,On-site,NaN,Mid,Maryland,Maryland,4/13/23 5:43,Baltimore,United States,8-10 years,11-20 years,0.0,0.0,0.0,0.0,0,$0,0,0,0,1,0,0,0,0,0,1,0,$0
1,-,North America,United States,USD,USD,No,Professional Degree,Corporation,Corporation,Government & Public Administration,Woman,Woman,NaN,United States,"Professional degree (MD, JD, etc.)",35-44,1,Law,Law,Government & Public Administration,lawyer,Other,NaN,White,White,Hybrid,NaN,Mid,NaN,NaN,4/11/23 14:25,Non-US,United States,8-10 years,11-20 years,NaN,0.0,0.0,180000.0,180000,"$180,000",0,0,0,1,0,0,0,0,0,1,180000,"$180,000"
2,Chicago,North America,United States,USD,USD,No,4-year college,School,School,Computing or Tech,Woman,Woman,United States-Illinois-Chicago,United States,College degree,35-44,1,Education (Higher Education),Education (Higher Education),"Computing, Tech, and Analytics",Senior Systems Analyst,Other,NaN,White,White,Hybrid,NaN,Mid,Illinois,Illinois,4/17/23 11:44,Chicago,United States,8-10 years,11-20 years,0.0,0.0,0.0,106500.0,106500,"$106,500",0,0,0,1,0,0,0,0,0,1,106500,"$106,500"
3,Dourados,South America,Brazil,BRL,BRL,No,Masters' degree,School,School,Government & Public Administration,Woman,Woman,NaN,Brazil,Master's degree,35-44,1,Education (Higher Education),Education (Higher Education),Government & Public Administration,Educational Administrative Technician,Other,NaN,"Hispanic, Latino, or Spanish origin","Hispanic, Latino, or Spanish Origin",On-site,NaN,Senior/Experienced,NaN,NaN,4/11/23 18:28,Non-US,Non-US,11-20 years,11-20 years,0.0,0.0,0.0,31.6,160,"$31,600",0,0,1,1,0,0,0,0,0,0,160,"$31,600"
4,Arlington,North America,United States,USD,USD,No,Professional Degree,Non Profit,Non Profit,Nonprofits,Woman,Woman,United States-District of Columbia-Arlington,United States,"Professional degree (MD, JD, etc.)",35-44,1,Nonprofits,Nonprofit,Nonprofits Other,Grants Manager,Management,profit,White,White,Hybrid,NaN,Senior/Experienced,District of Columbia,District of Columbia,4/14/23 16:41,"Washington, DC",United States,11-20 years,21-30 years,35.0,35.0,35.0,102000.0,102000,"$102,000",0,0,0,1,0,0,0,0,0,1,102000,"$102,035"
5,San Diego,North America,United States,USD,USD,No,4-year college,Corporation,Corporation,Engineering or Manufacturing,Woman,Woman,United States-California-San Diego,United States,College degree,35-44,1,Engineering or Manufacturing,Engineering & Manufacturing,Engineering or Manufacturing,Systems Engineer,Other,NaN,White,White,On-site,NaN,Entry/Junior,California,California,4/14/23 1:10,San Diego,United States,1 year or less,5-7 years,0.0,0.0,0.0,40000.0,40000,"$40,000",0,0,0,1,0,0,0,0,0,1,40000,"$40,000"
6,New York,North America,United States,USD,USD,No,Masters' degree,Healthcare Organization,School,Education (Higher Education),Woman,Woman,United States-New York-New York,United States,Master's degree,35-44,1,Health care,Healthcare,Education (Higher Education),Clinical Research Assistant,Other,NaN,Asian or Asian American,Asian,On-site,Education,Entry/Junior,New York,New York,4/12/23 11:01,New York City,United States,2-4 years,8-10 years,0.0,0.0,0.0,42000.0,42000,"$42,000",1,0,0,1,0,0,0,0,0,0,42000,"$42,000"
7,Tucson,North America,United States,USD,USD,No,4-year college,School,School,Administration,Woman,Woman,United States-Arizona-Tucson,United States,College degree,45-54,1,Education (Higher Education),Education (Higher Education),Administration,Program Coordinator,Other,NaN,White,White,Hybrid,NaN,Senior/Experienced,Arizona,Arizona,4/11/23 11:21,Tucson,United States,31-40 years,31-40 years,0.0,0.0,0.0,44000.0,44000,"$44,000",0,0,0,1,0,0,0,0,0,1,44000,"$44,000"
8,Seattle,North America,United States,USD,USD,No,4-year college,Corporation,Corporation,food service,Woman,Woman,United States-Washington-Seattle,United States,College degree,45-54,1,CSR/FOOD SERVICE,"Hospitality, Leisure, Tourism, & Events","Hospitality, Leisure, Tourism, and Events",CSR,Other,NaN,White,White,On-site,NaN,Senior/Experienced,Washington,Washington,4/11/23 23:22,Seattle,United States,11-20 years,11-20 years,0.0,0.0,0.0,45000.0,45000,"$45,000",0,0,0,1,0,0,0,0,0,1,45000,"$45,000"
9,Boston,North America,United States,USD,USD,Yes,2-year college,School,Non Profit,Nonprofits,Woman,Woman,United States-Massachusetts-Boston,United States,Paralegal certificate,55-64,1,Education (Higher Education),Education (Higher Education),Nonprofits Other,Gift and Data Analyst,Other,NaN,White,White,Hybrid,NaN,Senior/Experienced,Massachusetts,Massachusetts,4/11/23 13:17,Boston,United States,31-40 years,31-40 years,0.0,0.0,0.0,47000.0,47000,"$47,000",0,0,0,1,0,0,0,0,0,1,47000,"$47,000"

In [32]:
df.shape

(16611, 53)

In [34]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 16611 entries, 0 to 16610
Data columns (total 53 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   City                                  16525 non-null  str
 1   Continent/Region                      16611 non-null  str
 2   Country                               16611 non-null  str
 3   Currency                              16611 non-null  str
 4   Currency Cleansed                     16611 non-null  str
 5   Data Flag                             16611 non-null  str
 6   Education Cleansed                    16611 non-null  str
 7   Employer Type                         16611 non-null  str
 8   Employer Type Final                   16611 non-null  str
 9   Functional area of job                16505 non-null  str
 10  Gender                                16536 non-null  str
 11  Gender (group)                        16611 non-null  str
 12  GeoCombined                           15576 non-null  str
 13  Grouped Country                       16611 non-null  str
 14  Highest level of education completed  16564 non-null  str
 15  How old are you?                      16611 non-null  str
 16  IdentifiesWoman                       16611 non-null  int64
 17  Industry                              16565 non-null  str
 18  Industry Cleansed                     16611 non-null  str
 19  Job Function Cleansed                 16611 non-null  str
 20  Job title                             16611 non-null  str
 21  Management                            16611 non-null  str
 22  Nonprofit Flag Industry               1499 non-null   str
 23  Race                                  16550 non-null  str
 24  Race (group)                          16611 non-null  str
 25  Remote or on-site?                    16548 non-null  str
 26  School Flag                           1326 non-null   str
 27  Seniority                             16611 non-null  str
 28  State/Province                        15594 non-null  str
 29  State/Province (group)                15594 non-null  str
 30  Timestamp                             16611 non-null  str
 31  US Metropolitan Area                  16611 non-null  str
 32  US or Worldwide                       16611 non-null  str
 33  Years of experience in field          16611 non-null  str
 34  Years of experience, overall          16611 non-null  str
 35  Additional monetary compensation      12740 non-null  float64
 36  Addl Comp (Conv USD)                  16611 non-null  float64
 37  Addl Monetary Comp Cleansed           16611 non-null  float64
 38  Annual Salary (Conv USD)              16611 non-null  float64
 39  Annual salary (gross)                 16611 non-null  int64
 40  Annual Salary Cleansed                16611 non-null  str
 41  IdentifiesAsian                       16611 non-null  int64
 42  IdentifiesBlack                       16611 non-null  int64
 43  IdentifiesHispanic                    16611 non-null  int64
 44  IdentifiesMan                         16611 non-null  int64
 45  IdentifiesMENA                        16611 non-null  int64
 46  IdentifiesNAIndig                     16611 non-null  int64
 47  IdentifiesNB                          16611 non-null  int64
 48  IdentifiesOtherOrDeclinesToState      16611 non-null  int64
 49  IdentifiesOtherRace                   16611 non-null  int64
 50  IdentifiesWhite                       16611 non-null  int64
 51  Median Salary nonconv                 16611 non-null  int64
 52  Total Comp                            16611 non-null  str
dtypes: float64(4), int64(13), str(36)
memory usage: 6.7 MB

In [35]:
#City, Functional area of job, Gender, GeoCombined, Highest level of education completed, Industry,  Nonprofit Flag Industry, Race, Remote or on-site?, School Flag,
#State/Province, State/Province (group), Additional monetary compensation

In [36]:
#The Above column have missing values.

In [37]:
df_copy = df

In [39]:
df_copy.head(7)

,City,Continent/Region,Country,Currency,Currency Cleansed,Data Flag,Education Cleansed,Employer Type,Employer Type Final,Functional area of job,Gender,Gender (group),GeoCombined,Grouped Country,Highest level of education completed,How old are you?,IdentifiesWoman,Industry,Industry Cleansed,Job Function Cleansed,Job title,Management,Nonprofit Flag Industry,Race,Race (group),Remote or on-site?,School Flag,Seniority,State/Province,State/Province (group),Timestamp,US Metropolitan Area,US or Worldwide,Years of experience in field,"Years of experience, overall",Additional monetary compensation,Addl Comp (Conv USD),Addl Monetary Comp Cleansed,Annual Salary (Conv USD),Annual salary (gross),Annual Salary Cleansed,IdentifiesAsian,IdentifiesBlack,IdentifiesHispanic,IdentifiesMan,IdentifiesMENA,IdentifiesNAIndig,IdentifiesNB,IdentifiesOtherOrDeclinesToState,IdentifiesOtherRace,IdentifiesWhite,Median Salary nonconv,Total Comp
0,Near Baltimore,North America,United States,USD,USD,No,Masters' degree,Other,Other,N/a,Woman,Woman,United States-Maryland-Near Baltimore,United States,Master's degree,35-44,1,Unpaid labor,Other,Other,Sahm,Other,NaN,White,White,On-site,NaN,Mid,Maryland,Maryland,4/13/23 5:43,Baltimore,United States,8-10 years,11-20 years,0.0,0.0,0.0,0.0,0,$0,0,0,0,1,0,0,0,0,0,1,0,$0
1,-,North America,United States,USD,USD,No,Professional Degree,Corporation,Corporation,Government & Public Administration,Woman,Woman,NaN,United States,"Professional degree (MD, JD, etc.)",35-44,1,Law,Law,Government & Public Administration,lawyer,Other,NaN,White,White,Hybrid,NaN,Mid,NaN,NaN,4/11/23 14:25,Non-US,United States,8-10 years,11-20 years,NaN,0.0,0.0,180000.0,180000,"$180,000",0,0,0,1,0,0,0,0,0,1,180000,"$180,000"
2,Chicago,North America,United States,USD,USD,No,4-year college,School,School,Computing or Tech,Woman,Woman,United States-Illinois-Chicago,United States,College degree,35-44,1,Education (Higher Education),Education (Higher Education),"Computing, Tech, and Analytics",Senior Systems Analyst,Other,NaN,White,White,Hybrid,NaN,Mid,Illinois,Illinois,4/17/23 11:44,Chicago,United States,8-10 years,11-20 years,0.0,0.0,0.0,106500.0,106500,"$106,500",0,0,0,1,0,0,0,0,0,1,106500,"$106,500"
3,Dourados,South America,Brazil,BRL,BRL,No,Masters' degree,School,School,Government & Public Administration,Woman,Woman,NaN,Brazil,Master's degree,35-44,1,Education (Higher Education),Education (Higher Education),Government & Public Administration,Educational Administrative Technician,Other,NaN,"Hispanic, Latino, or Spanish origin","Hispanic, Latino, or Spanish Origin",On-site,NaN,Senior/Experienced,NaN,NaN,4/11/23 18:28,Non-US,Non-US,11-20 years,11-20 years,0.0,0.0,0.0,31.6,160,"$31,600",0,0,1,1,0,0,0,0,0,0,160,"$31,600"
4,Arlington,North America,United States,USD,USD,No,Professional Degree,Non Profit,Non Profit,Nonprofits,Woman,Woman,United States-District of Columbia-Arlington,United States,"Professional degree (MD, JD, etc.)",35-44,1,Nonprofits,Nonprofit,Nonprofits Other,Grants Manager,Management,profit,White,White,Hybrid,NaN,Senior/Experienced,District of Columbia,District of Columbia,4/14/23 16:41,"Washington, DC",United States,11-20 years,21-30 years,35.0,35.0,35.0,102000.0,102000,"$102,000",0,0,0,1,0,0,0,0,0,1,102000,"$102,035"
5,San Diego,North America,United States,USD,USD,No,4-year college,Corporation,Corporation,Engineering or Manufacturing,Woman,Woman,United States-California-San Diego,United States,College degree,35-44,1,Engineering or Manufacturing,Engineering & Manufacturing,Engineering or Manufacturing,Systems Engineer,Other,NaN,White,White,On-site,NaN,Entry/Junior,California,California,4/14/23 1:10,San Diego,United States,1 year or less,5-7 years,0.0,0.0,0.0,40000.0,40000,"$40,000",0,0,0,1,0,0,0,0,0,1,40000,"$40,000"
6,New York,North America,United States,USD,USD,No,Masters' degree,Healthcare Organization,School,Education (Higher Education),Woman,Woman,United States-New York-New York,United States,Master's degree,35-44,1,Health care,Healthcare,Education (Higher Education),Clinical Research Assistant,Other,NaN,Asian or Asian American,Asian,On-site,Education,Entry/Junior,New York,New York,4/12/23 11:01,New York City,United States,2-4 years,8-10 years,0.0,0.0,0.0,42000.0,42000,"$42,000",1,0,0,1,0,0,0,0,0,0,42000,"$42,000"

In [40]:
df_copy['City'].shape

(16611,)

In [44]:
df_copy['City'].unique

<bound method Series.unique of 0        Near Baltimore
1                     -
2               Chicago
3              Dourados
4             Arlington
              ...
16606          Mukilteo
16607               NYC
16608        Sacramento
16609            Pelham
16610          New York
Name: City, Length: 16611, dtype: str>

In [48]:
df_copy.isnull().sum()

City                                       86
Continent/Region                            0
Country                                     0
Currency                                    0
Currency Cleansed                           0
Data Flag                                   0
Education Cleansed                          0
Employer Type                               0
Employer Type Final                         0
Functional area of job                    106
Gender                                     75
Gender (group)                              0
GeoCombined                              1035
Grouped Country                             0
Highest level of education completed       47
How old are you?                            0
IdentifiesWoman                             0
Industry                                   46
Industry Cleansed                           0
Job Function Cleansed                       0
Job title                                   0
Management                                  0
Nonprofit Flag Industry                 15112
Race                                       61
Race (group)                                0
Remote or on-site?                         63
School Flag                             15285
Seniority                                   0
State/Province                           1017
State/Province (group)                   1017
Timestamp                                   0
US Metropolitan Area                        0
US or Worldwide                             0
Years of experience in field                0
Years of experience, overall                0
Additional monetary compensation         3871
Addl Comp (Conv USD)                        0
Addl Monetary Comp Cleansed                 0
Annual Salary (Conv USD)                    0
Annual salary (gross)                       0
Annual Salary Cleansed                      0
IdentifiesAsian                             0
IdentifiesBlack                             0
IdentifiesHispanic                          0
IdentifiesMan                               0
IdentifiesMENA                              0
IdentifiesNAIndig                           0
IdentifiesNB                                0
IdentifiesOtherOrDeclinesToState            0
IdentifiesOtherRace                         0
IdentifiesWhite                             0
Median Salary nonconv                       0
Total Comp                                  0
dtype: int64

In [50]:
df_copy['City'].shape

(16611,)